body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.box {
    position: relative;
    margin: 0 auto;
    width: 940px;
}

nav {
    position: absolute;
    right: 0;
    top: 110px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

footer {
    background: url("./images/bg.jpg");
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}


/* Home style */
.banner {
    width: 100%;
}

.principal-title {
    text-align: center;
    margin: 0 0 1em;
    font-size: 2em;
    clear: left;
}

.utensil {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.map {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.map-content {
    width: 940px;
    margin: 0 auto;
}

.benefits {
    padding: 3em 0;
    background: #888888;
}

.benefits-content {
    width: 640px;
    margin: 0 auto;
}

.list-benefits {
    width: 40%;
    vertical-align: top;
    display: inline-block;
}

.items {
    line-height: 1.5;
}

.items:before{
    content: "🟊";
}

.items:first-child {
    font-weight: bold;
}

.benefits_img {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.benefits_img:hover {
    opacity: 0.3;
}

.video {
    width: 560px;
    margin: 2em auto;
}

/* Products style */

.products {
    padding: 50px 0;
    margin: 0 auto;
    width: 940px;
}

.products li {
    border: 2px solid #000000;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    text-align: center;
    padding: 30px 20px;
    margin: 0 1.5%;
    width: 30%;
}

.products li:hover {
    border-color: #C78C19;
    cursor: pointer;
}

.products li:hover h2 {
    font-size: 34px;
}

.products li:active {
    border-color: #088C19;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.product-description {
    font-size: 18px;
}

.price-product {
    font-size: 22px;
    margin-top: 10px;
    font-weight: bold;
}

/* Contact style */

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-standard {
    width: 50%;
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
}

.label-checkbox {
    margin: 20px 0;
}

.submit {
    width: 40%;
    border: none;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: 1s all;
    background: orange;
}

.submit:hover {
    transform: scale(1.2);
    background: darkorange;
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    font-weight: bold;
    color: #FFFFFF;
}

td, th {
    border: 1px solid #000000;
    vertical-align: middle;
    padding: 8px 15px;
}

@media screen and (max-width: 480px) { 
    .box, .principal, .map-content, .benefits-content, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position:static;
    }

    .list-benefits, .benefits_img {
        width: 100%
    }

    .products {
        width: auto;
    }

    .products li {
        display: block;
        width: auto;
        margin: 10px 10px 20px;
    }
}